<p style="    margin-bottom: 0px;" class="p-class">
  <mat-toolbar style="background: #fff;">

    <div fxLayout="row" fxLayoutAlign="space-between center" class="header-cont">
      <div fxLayout="row" fxLayoutAlign="flex-start center"><img src="assets\logo.png" alt="" style="width: 60px;" />
        <!-- <button mat-icon-button
          (click)="isExpanded = !isExpanded"><mat-icon>menu</mat-icon></button> -->

      </div>
      <button mat-icon-button color="primary" [matMenuTriggerFor]="menu" style="width: 80px;
    color: #333;">
        <div style="display:flex;text-transform:capitalize ;">
          <div> <img src="assets\user-name.svg" alt="" /></div>
          <div>{{value}}</div>
        </div>

      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item> <mat-icon>person</mat-icon>
          <span>Profile</span></button>
        <button mat-menu-item routerLink="/login"> <mat-icon>logout</mat-icon>
          <span>Logout</span></button>
      </mat-menu>
    </div>



  </mat-toolbar>
</p>
<!-- <app-menu></app-menu> -->
<div class="content">
  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()"
      (mouseleave)="mouseleave()">
      <div class="sub-side">
        <mat-nav-list>
          <mat-list-item [routerLink]="item.menuItemUrl" routerLinkActive="activebutton" class="parent"
            *ngFor="let item of menuItems">
            <img src="{{item.menuItemIcon}}" alt="" class="img-st" />
            <span class="full-width" *ngIf="isExpanded || isShowing">{{item.menuItemDisplayName}}</span>
          </mat-list-item>

        </mat-nav-list>
        <mat-nav-list>
        </mat-nav-list>

      </div>
    </mat-sidenav>

    <div class="example-sidenav-content">

      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-container>
  <div class="footer">
    <div style="display: flex;
    flex-direction: row;
    justify-content: space-between;">
      <div>Copyright © bourntec. All Rights Reserved</div>

      <div style="display: flex;
        flex-direction: row;gap: 10px;
        justify-content: space-between;">
        <a href="javascript:;">Company</a>
        <a href="javascript:;">Terms of use</a>
        <a href="javascript:;">Privacy Policy</a>
        <a href="javascript:;">Cookie policy</a>
        <a href="javascript:;">Contact us</a>



      </div>
    </div>
  </div>
</div>