<app-common-page-header [header]="'Add Applicant'"></app-common-page-header>
<mat-card class="example-card signup-page ">
    <form [formGroup]="profileForm" (ngSubmit)="submit()">
        <mat-card-content>

            <div class="grid-class">

                <mat-form-field appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="First Name" type="text" formControlName="firstName">

                    <mat-error *ngIf="profileForm.get('firstName').errors?.['required']">
                        This field is required
                    </mat-error>
                    <mat-error *ngIf="profileForm.get('firstName').errors?.['maxlength']">
                        Only 10 charecters allowed
                    </mat-error>
                    <mat-error *ngIf="profileForm.get('firstName').errors?.['minlength']">
                        Min 3 needed.
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="Last Name" type="text" formControlName="lastName">
                    <mat-error *ngIf="profileForm.get('lastName').errors?.['required']">
                        This field is required
                    </mat-error> <mat-error *ngIf="profileForm.get('lastName').errors?.['maxlength']">
                        Only 10 charecters allowed
                    </mat-error>
                    <mat-error *ngIf="profileForm.get('lastName').errors?.['minlength']">
                        Min 3 needed.
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Date Of Birth</mat-label>
                    <input matInput placeholder="Date Of Birth" type="date" formControlName="dob">


                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Gender</mat-label>
                    <mat-select formControlName="gender">
                        <mat-option *ngFor="let food of gender" [value]="food.value">
                            {{food.viewValue}}
                        </mat-option>
                    </mat-select>

                    <mat-error *ngIf="profileForm.get('gender').errors?.['required']">
                        This field is required
                    </mat-error>
                </mat-form-field>





                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" type="email" formControlName="email">
                    <mat-error *ngIf="profileForm.get('email').errors?.['required']">
                        This field is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Phone</mat-label>
                    <input matInput placeholder="Phone" type="text" formControlName="phone">


                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Autocomplete</mat-label>
                    <input type="text" placeholder="Pick one" matInput formControlName="autocomplete"
                        [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            {{option}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="profileForm.get('autocomplete').errors?.['required']">
                        This field is required
                    </mat-error>
                </mat-form-field>


                <mat-form-field appearance="outline">
                    <mat-label>Phone</mat-label>
                    <input matInput placeholder="Phone" type="text" formControlName="phone">


                </mat-form-field>

                <mat-form-field appearance="outline" class="no-resize-handle">
                    <mat-label>Address 1</mat-label>
                    <textarea matInput placeholder="Address 1" formControlName="address1"></textarea>

                    <mat-error *ngIf="profileForm.get('address1').errors?.['required']">
                        This field is required
                    </mat-error>
                    <mat-error *ngIf="profileForm.get('address1').errors?.['maxlength']">
                        Only 100 charecters allowed
                    </mat-error>
                    <mat-error *ngIf="profileForm.get('address1').errors?.['minlength']">
                        Min 3 needed.
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="no-resize-handle">
                    <mat-label>Address 2</mat-label>
                    <textarea matInput placeholder="Address 2" formControlName="address2"></textarea>


                    <mat-error *ngIf="profileForm.get('address2').errors?.['maxlength']">
                        Only 100 charecters allowed
                    </mat-error>

                </mat-form-field>

                <div fxLayout="column">
                    <mat-label>MFA Enabled</mat-label>
                    <mat-checkbox matInput class="example-margin" formControlName="mfaEnabed">

                    </mat-checkbox>

                </div>


                <div class="example-button-row">

                    <button mat-raised-button color="primary" type="button" class="log-colour"
                        (click)="openDialog()">Dialog
                        Box</button>

                </div>





            </div>






        </mat-card-content>
        <mat-card-actions>
            <div class="grid-class">
                <!-- <div fxLayout="row" fxLayoutAlign="space-between center" class="button-act"> -->

                <button mat-raised-button color="primary" type="submit" class="log-btn">SAVE</button>
            </div>
        </mat-card-actions>

    </form>
</mat-card>