<app-common-page-header [header]="'Applicant Details'"></app-common-page-header>
<h4>Applicant Details</h4>
<mat-card class="example-card">
    <mat-card-content>
        <div class="main-row common-struc">
            <div class="form-group ">
                <label>Applicant ID </label>
                <div class="applicant-details-text">
                    ADCB123
                </div>
            </div>
            <div class="form-group ">
                <label>First Name </label>
                <div class="applicant-details-text">
                    John
                </div>
            </div>
            <div class="form-group ">
                <label>Middle Name </label>
                <div class="applicant-details-text">
                    K
                </div>
            </div>
            <div class="form-group ">
                <label>Last Name </label>
                <div class="applicant-details-text">
                    Deo
                </div>
            </div>
            <div class="form-group ">
                <label>Country Of Birth </label>
                <div class="applicant-details-text">
                    Canada
                </div>
            </div>
            <div class="form-group ">
                <label>Date Of Birth</label>
                <div class="applicant-details-text">
                    12-10-1992
                </div>
            </div>
            <div class="form-group ">
                <label>Gender</label>
                <div class="applicant-details-text">
                    Male
                </div>
            </div>

        </div>

    </mat-card-content>



</mat-card>
<h4>Applicant Details 2</h4>
<div fxLayout="row" fxLayoutGap="10px">
    <mat-card class="example-card" fxFlex="50%">

        <mat-card-content>
            <div class="main-row-sub common-struc">
                <div class="form-group ">
                    <label>Applicant ID </label>
                    <div class="applicant-details-text">
                        ADCB123
                    </div>
                </div>
                <div class="form-group ">
                    <label>First Name </label>
                    <div class="applicant-details-text">
                        John
                    </div>
                </div>
                <div class="form-group ">
                    <label>Middle Name </label>
                    <div class="applicant-details-text">
                        K
                    </div>
                </div>
                <div class="form-group ">
                    <label>Last Name </label>
                    <div class="applicant-details-text">
                        Deo
                    </div>
                </div>
                <div class="form-group ">
                    <label>Country Of Birth </label>
                    <div class="applicant-details-text">
                        Canada
                    </div>
                </div>
                <div class="form-group ">
                    <label>Date Of Birth</label>
                    <div class="applicant-details-text">
                        12-10-1992
                    </div>
                </div>
                <div class="form-group ">
                    <label>Gender</label>
                    <div class="applicant-details-text">
                        Male
                    </div>
                </div>

            </div>

        </mat-card-content>


    </mat-card>
    <mat-card class="example-card" fxFlex="50%">

        <mat-card-content>
            <div class="main-row-sub common-struc">
                <div class="form-group ">
                    <label>Applicant ID </label>
                    <div class="applicant-details-text">
                        ADCB123
                    </div>
                </div>
                <div class="form-group ">
                    <label>First Name </label>
                    <div class="applicant-details-text">
                        John
                    </div>
                </div>
                <div class="form-group ">
                    <label>Middle Name </label>
                    <div class="applicant-details-text">
                        K
                    </div>
                </div>
                <div class="form-group ">
                    <label>Last Name </label>
                    <div class="applicant-details-text">
                        Deo
                    </div>
                </div>
                <div class="form-group ">
                    <label>Country Of Birth </label>
                    <div class="applicant-details-text">
                        Canada
                    </div>
                </div>
                <div class="form-group ">
                    <label>Date Of Birth</label>
                    <div class="applicant-details-text">
                        12-10-1992
                    </div>
                </div>
                <div class="form-group ">
                    <label>Gender</label>
                    <div class="applicant-details-text">
                        Male
                    </div>
                </div>

            </div>

        </mat-card-content>


    </mat-card>
</div>