/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;    background: #332f2f0d; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.common-header{
    border-bottom: 1px solid #ddd;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline{
color: #BAB8B8 !important;
}
.grid-class{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    grid-gap:5px
}
.custom-snackbar {
    // padding: 12px;
    border-radius: 4px;
  }
  
  .success-snack {
    background-color: #4CAF50; /* Green */
    color: white;
  }
  
  .error-snack {
    background-color: #f44336; /* Red */
    color: white;
  }
  
  .info-snack {
    background-color: #2196F3; /* Blue */
    color: white;
  }


